In [1]:
from pyspark import SparkContext
sc=SparkContext('local','Pyspark RDD transformations')

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/07/31 08:11:56 WARN Utils: Your hostname, dbl-07, resolves to a loopback address: 127.0.1.1; using 172.16.58.102 instead (on interface eno1)
25/07/31 08:11:56 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/31 08:11:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

pyspark.sql.type =>spark . It has StructType which helps in defining schema.
it makes csv sing StructField => ((col.name,struct-type,nullable?))

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [67]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

### Q1

In [69]:
schema= StructType([StructField("Index",IntegerType(),True),
                    StructField("Customer Id",StringType(),True),
                    StructField("First Name",StringType(),True),
                    StructField("Last Name",StringType(),True),
                    StructField("Company",StringType(),True),
                    StructField("City",StringType(),True),
                    StructField("Country",StringType(),True),
                    StructField("Phone 1",StringType(),True),
                    StructField("Phone 2",StringType(),True),
                    StructField("Email",StringType(),True),
                    StructField("Subscription Date",DateType(),True),
                    StructField("Website",StringType(),True),
                    StructField("Age",IntegerType(),True),
                    StructField("Salary",IntegerType(),True)
                   ])

In [70]:
df = spark.read.option("header",True).schema(schema).csv('/home/5AIMLA1/Downloads/customer.csv')

In [73]:
df.describe().show(1)

+-------+-----+-----------+----------+---------+-------+----+-------+-------+-------+-----+-------+---+------+
|summary|Index|Customer Id|First Name|Last Name|Company|City|Country|Phone 1|Phone 2|Email|Website|Age|Salary|
+-------+-----+-----------+----------+---------+-------+----+-------+-------+-------+-----+-------+---+------+
|  count|  100|        100|       100|      100|    100| 100|    100|    100|    100|  100|    100|100|   100|
+-------+-----+-----------+----------+---------+-------+----+-------+-------+-------+-----+-------+---+------+
only showing top 1 row

In [74]:
filt= df.filter(col('age')> 25)
filt.show(2)

+-----+---------------+----------+---------+---------------+-----------------+--------------+-----------------+--------------------+--------------------+-----------------+--------------------+---+------+
|Index|    Customer Id|First Name|Last Name|        Company|             City|       Country|          Phone 1|             Phone 2|               Email|Subscription Date|             Website|Age|Salary|
+-----+---------------+----------+---------+---------------+-----------------+--------------+-----------------+--------------------+--------------------+-----------------+--------------------+---+------+
|   17|a5DC21AE3a21eaA|  Caroline|    Foley|Winters-Mendoza|West Adriennestad|Western Sahara|936.222.4746x9924|001-469-948-6341x359|holtgwendolyn@wat...|       2021-03-10|http://www.benson...| 26| 35015|
|   18|F8Aa9d6DfcBeeF8|      Greg|     Mata|  Valentine LLC|      Lake Leslie|    Mozambique|    (701)087-2415| (195)156-1861x26241|jaredjuarez@carro...|       2022-03-26|http://pitts-cher...| 27| 35016|
+-----+---------------+----------+---------+---------------+-----------------+--------------+-----------------+--------------------+--------------------+-----------------+--------------------+---+------+
only showing top 2 rows

In [75]:
filt2= df.filter("Age >= 29")
filt2.show(2)

+-----+---------------+----------+---------+--------------------+-----------+-----------+--------------------+--------------------+--------------------+-----------------+--------------------+---+------+
|Index|    Customer Id|First Name|Last Name|             Company|       City|    Country|             Phone 1|             Phone 2|               Email|Subscription Date|             Website|Age|Salary|
+-----+---------------+----------+---------+--------------------+-----------+-----------+--------------------+--------------------+--------------------+-----------------+--------------------+---+------+
|   21|9F9AdB7B8A6f7F2|   Maxwell|     Frye|       Patterson Inc| East Carly|      Malta|        423.262.3059|   202-880-0688x7491|fgibson@drake-web...|       2022-01-12|http://www.robert...| 30| 35019|
|   22|FBd0Ded4F02a742|     Kiara|  Houston|Manning, Hester a...|South Alvin|Netherlands|001-274-040-3582x...|+1-528-175-0973x4684|blanchardbob@wall...|       2020-09-15|https://www.reid-...| 31| 35020|
+-----+---------------+----------+---------+--------------------+-----------+-----------+--------------------+--------------------+--------------------+-----------------+--------------------+---+------+
only showing top 2 rows

In [77]:
df2= df.withColumn("Age Group",when(col('Age')<=17,"Kids").otherwise("Adults"))

df2.select("First Name","Age Group","Salary").show()

+----------+---------+------+
|First Name|Age Group|Salary|
+----------+---------+------+
|    Sheryl|   Adults| 30000|
|   Preston|   Adults| 35000|
|       Roy|     Kids| 35001|
|     Linda|     Kids| 35002|
|    Joanna|     Kids| 35003|
|     Aimee|     Kids| 35004|
|    Darren|   Adults| 35005|
|     Brett|     Kids| 35006|
|    Sheryl|   Adults| 35007|
|  Michelle|   Adults| 35008|
|      Carl|   Adults| 35009|
|     Jenna|   Adults| 35010|
|    Tracey|   Adults| 35011|
|  Kristine|   Adults| 35012|
|     Faith|   Adults| 35013|
|   Miranda|   Adults| 35014|
|  Caroline|   Adults| 35015|
|      Greg|   Adults| 35016|
|  Clifford|   Adults| 39017|
|    Joanna|   Adults| 35018|
+----------+---------+------+
only showing top 20 rows

### Q2

In [58]:
rowCount= df.count()
print(f'Number of rows: {rowCount}\n\n')

df2.filter((col("Age")>=32) &( col("Age")<=66)).select('First Name','Last Name','Age','Age Group').show()

Number of rows: 100


+----------+-----------+---+---------+
|First Name|  Last Name|Age|Age Group|
+----------+-----------+---+---------+
|   Colleen|     Howard| 32|   Adults|
|     Janet| Valenzuela| 33|   Adults|
|    Marcus|      Moody| 35|   Adults|
|    Dakota|      Poole| 36|   Adults|
| Frederick|     Harper| 37|   Adults|
|  Stefanie|Fitzpatrick| 38|   Adults|
|      Kent|   Bradshaw| 39|   Adults|
|      Jack|       Tate| 40|   Adults|
|       Tom|   Trujillo| 41|   Adults|
|   Gabriel|      Mejia| 42|   Adults|
|   Kaitlyn|    Santana| 35|   Adults|
|     Faith|       Moon| 46|   Adults|
|    Tammie|      Haley| 45|   Adults|
|    Jordan|        Gay| 47|   Adults|
|     Bruce|    Esparza| 48|   Adults|
|    Sherry|      Garza| 49|   Adults|
|   Natalie|     Gentry| 50|   Adults|
|     Bryan|       Dunn| 51|   Adults|
|     Wayne|    Simpson| 52|   Adults|
|      Luis|      Greer| 53|   Adults|
+----------+-----------+---+---------+
only showing top 20 rows

### Q3

In [79]:
df.describe().select('Summary','Age','Salary').show()

+-------+------------------+-----------------+
|Summary|               Age|           Salary|
+-------+------------------+-----------------+
|  count|               100|              100|
|   mean|              49.0|          57591.3|
| stddev|27.390553558524957|63861.05063789477|
|    min|                10|             1000|
|    max|               107|           435066|
+-------+------------------+-----------------+

In [87]:
df.agg(min("salary").alias("min_salary")).show()
df.agg(max("age").alias("max_age")).show()
df.agg(count("First Name").alias("people_count")).show()
df.agg(sum("Age").alias("Sum_age"), avg("Salary").alias("Avg_salary")).show()

+----------+
|min_salary|
+----------+
|      1000|
+----------+

+-------+
|max_age|
+-------+
|    107|
+-------+

+------------+
|people_count|
+------------+
|         100|
+------------+

+-------+----------+
|Sum_age|Avg_salary|
+-------+----------+
|   4900|   57591.3|
+-------+----------+

### Q4

In [89]:
df2.write.csv('/home/5AIMLA1/Desktop/230962012', header=True,mode='overwrite')

### q5: Implement wordcount program in PySpark by loading a text file from the local file system.
- Dispplay total no of words and compare it with no.of unique words in the file
- Find the total no of words that begin with letter 'a'
- Determine frequency of each word and save the output in local file system

In [103]:
df3=spark.read.text("/home/5AIMLA1/Downloads/sample3.txt")
df3.show(1)

+--------------------+
|               value|
+--------------------+
|Quod equidem non ...|
+--------------------+
only showing top 1 row

In [101]:
total_rows= df3.count()
total_rows

21

In [104]:
word_col= df3.withColumn("Words",explode(split(col("value")),"\\s+"))

TypeError: split() missing 1 required positional argument: 'pattern'