In [43]:
import pandas as pd
import numpy as np
from pandas.io.pytables import HDFStore
def p(o):
  print(o)
  print()

In [44]:
a = pd.read_csv('color_srgb.csv', names=['a'])
p(a.columns)
p(a.index)
p(a['a']['White'])

Index(['a'], dtype='object')

MultiIndex([(   'Name',     'HEX'),
            (  'White', '#FFFFFF'),
            ( 'Silver', '#C0C0C0'),
            (   'Gray', '#808080'),
            (  'Black', '#000000'),
            (    'Red', '#FF0000'),
            ( 'Maroon', '#800000'),
            ( 'Yellow', '#FFFF00'),
            (  'Olive', '#808000'),
            (   'Lime', '#00FF00'),
            (  'Green', '#008000'),
            (   'Aqua', '#00FFFF'),
            (   'Teal', '#008080'),
            (   'Blue', '#0000FF'),
            (   'Navy', '#000080'),
            ('Fuchsia', '#FF00FF'),
            ( 'Purple', '#800080')],
           )

#FFFFFF    rgb(100,100,100)
Name: a, dtype: object

In [45]:
p(pd.read_csv('color_srgb.csv', skiprows=[0], nrows=3, header=None))
p(pd.read_csv('color_srgb.csv',chunksize=3))

        0        1                 2
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray  #808080     rgb(50,50,50)

<pandas.io.parsers.readers.TextFileReader object at 0x0000018ECA8CD630>

In [46]:
a = pd.DataFrame(np.arange(16).reshape(4,4), index=['a', 'b', 'c', 'd'])
a.to_csv('test.csv', header=None, index=None)
p(pd.read_csv('test.csv', header=None))
a.to_html('test.html')
a.to_json('test.json')
# from lxml import objectify
# c = objectify.parse("test.xml")
# root = c.getroot()
# root.Book.Author

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [62]:
a.to_pickle('test.pkl')
p(pd.read_pickle('test.pkl'))
import sqlite3
db = sqlite3.connect('test.sqlite')
# a.to_sql('test', db)
# p(pd.read_sql('test', db))

    0   1   2   3
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

DatabaseError: Execution failed on sql 'test': near "test": syntax error